@model VeterinaryClinic.BL.Attendance

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Atendimentos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Procedures)
        </dt>
        <dd class="col-sm-10">
            <ul class="list-unstyled">
                @foreach(var procedure in Model.Procedures)
                {
                    <li>@procedure.ProcedureName</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
